
.texto-menor {
    font-size: 13px;
}

.divs-facilidades {
    width: 325px;
}

.divs-facilidades a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
}
.texto{
    color: white;
}
main{
    display: flex;
}
.itens-curriculo{
    display: none;
}

.descricao-card{
    color: black;
}

@media (max-width:760px){
    main{
        display:block;
    }
    .itens-curriculo{
        display:block;
    }
}

.whats {
    position: fixed;
    bottom: 15px;
    left: 15px;
    z-index: 9999;
    background-color: rgba(0, 128, 0, 0.13);
    border-radius: 100%;
}
.whats:hover{
    filter: brightness(120%);
}

footer{
    width: 100%;
}